<div class="container">
    <div class="row">
        <div class="col-10">
            <!-- items being paged -->
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th (click)="sortColumn('name')">Name</th>
                        <th (click)="sortColumn('teamname')">Team</th>
                        <th (click)="sortColumn('age')">Age</th>
                        <th (click)="sortColumn('appearances')">Appearances</th>
                        <th (click)="sortColumn('goals')">Goals</th>
                        <th (click)="sortMultiColumn('yellowCards', 'redCards')">Cards: Yellow / Red</th>
                        <th (click)="sortColumn('gender')">Gender</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of pagedItems">
                        <td><img [src]="item.picture" /></td>
                        <td>{{ item.name }}</td>
                        <td>{{ item.team.name }}</td>
                        <td>{{ item.age }}</td>
                        <td>{{ item.appearances }}</td>
                        <td>{{ item.goals }}</td>
                        <td>{{ item.yellowCards }} / {{ item.redCards }}</td>
                        <td>{{ item.gender }}</td>
                    </tr>
                </tbody>
            </table>

            <!-- pager -->
            <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
                <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
                    <a class="page-link" (click)="setPage(1)">First</a>
                </li>
                <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
                    <a class="page-link" (click)="setPage(pager.currentPage - 1)">Previous</a>
                </li>
                <li class="page-item" *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                    <a class="page-link" (click)="setPage(page)">{{page}}</a>
                </li>
                <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                    <a class="page-link" (click)="setPage(pager.currentPage + 1)">Next</a>
                </li>
                <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                    <a class="page-link" (click)="setPage(pager.totalPages)">Last</a>
                </li>
            </ul>
        </div>
    </div>
</div>


<router-outlet></router-outlet>